<a href="https://colab.research.google.com/github/nandakumar92/sql_queries_to_pandas/blob/main/formula_one_races_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np

In [3]:
circuitsdf=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/formula_1_races/circuits.csv')
driversdf=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/formula_1_races/drivers.csv')
racesdf=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/formula_1_races/races.csv')
resultsdf=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/formula_1_races/results.csv')
statusdf=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/formula_1_races/status.csv')
pitstopsdf=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/formula_1_races/pit_stops.csv')
laptimesdf=pd.read_csv('/content/gdrive/MyDrive/Colab/Data/formula_1_races/lap_times.csv')

In [4]:
circuitsdf.head()

   circuitId  ...                                                url
0          1  ...  http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1          2  ...  http://en.wikipedia.org/wiki/Sepang_Internatio...
2          3  ...  http://en.wikipedia.org/wiki/Bahrain_Internati...
3          4  ...  http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4          5  ...         http://en.wikipedia.org/wiki/Istanbul_Park

[5 rows x 9 columns]

In [6]:
driversdf.head()

   driverId  ...                                             url
0         1  ...     http://en.wikipedia.org/wiki/Lewis_Hamilton
1         2  ...      http://en.wikipedia.org/wiki/Nick_Heidfeld
2         3  ...       http://en.wikipedia.org/wiki/Nico_Rosberg
3         4  ...    http://en.wikipedia.org/wiki/Fernando_Alonso
4         5  ...  http://en.wikipedia.org/wiki/Heikki_Kovalainen

[5 rows x 9 columns]

In [7]:
racesdf.head()

   raceId  year  ...      time                                                url
0       1  2009  ...  06:00:00  http://en.wikipedia.org/wiki/2009_Australian_G...
1       2  2009  ...  09:00:00  http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2       3  2009  ...  07:00:00  http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3       4  2009  ...  12:00:00  http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4       5  2009  ...  12:00:00  http://en.wikipedia.org/wiki/2009_Spanish_Gran...

[5 rows x 8 columns]

In [8]:
resultsdf.head()

   resultId  raceId  driverId  ...  fastestLapTime fastestLapSpeed  statusId
0         1      18         1  ...        1:27.452         218.300         1
1         2      18         2  ...        1:27.739         217.586         1
2         3      18         3  ...        1:28.090         216.719         1
3         4      18         4  ...        1:28.603         215.464         1
4         5      18         5  ...        1:27.418         218.385         1

[5 rows x 18 columns]

In [9]:
statusdf.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [10]:
pitstopsdf.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [11]:
laptimesdf.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [76]:
tempdf=resultsdf.merge(driversdf,how='left',on='driverId').merge(racesdf,how='left',on='raceId').merge(circuitsdf,how='left',on='circuitId')\
.merge(statusdf,how='left',on='statusId')
tempdf.head(2)

   resultId  ...    status
0         1  ...  Finished
1         2  ...  Finished

[2 rows x 42 columns]

In [56]:
'''select
year,
driverRef,
sum(points)
from 
Data 
'''
tempdf.groupby(['year','driverRef'],as_index=False).agg({'points':'sum'})\
.sort_values(by=['year','driverRef'],ascending=[False,True])

      year   driverRef  points
3099  2020      aitken     0.0
3100  2020       albon   105.0
3101  2020      bottas   223.0
3102  2020       gasly    75.0
3103  2020  giovinazzi     4.0
...    ...         ...     ...
76    1950   villoresi     0.0
77    1950     wallard     0.0
78    1950  walt_brown     0.0
79    1950        webb     0.0
80    1950   whitehead     4.0

[3122 rows x 3 columns]

In [75]:
""" select
year,
driveref,
sum(points) as points,
sum()over(partition by driverref order by year asc) as cum_points
from
Data
"""

df2=tempdf.groupby(['year','driverRef'],as_index=False).agg({'points':'sum'})
df2['cum_points']=df2.groupby(['driverRef']).points.transform('cumsum')
df2[df2.driverRef=='ascari']

     year driverRef  points  cum_points
2    1950    ascari    11.0        11.0
84   1951    ascari    28.0        39.0
168  1952    ascari    53.5        92.5
274  1953    ascari    46.5       139.0
382  1954    ascari     1.0       140.0
477  1955    ascari     0.0       140.0

In [35]:
### select * from results where raceId=10 order by points desc limit 10

resultsdf[resultsdf.raceId==10].nlargest(10,columns='points')

      resultId  raceId  driverId  ...  fastestLapTime fastestLapSpeed  statusId
7733      7734      10         1  ...        1:22.479         191.219         1
7734      7735      10         8  ...        1:22.434         191.323         1
7735      7736      10        17  ...        1:21.931         192.498         1
7736      7737      10         3  ...        1:22.468         191.245         1
7737      7738      10         5  ...        1:22.958         190.115         1
7738      7739      10        10  ...        1:22.506         191.157         1
7739      7740      10        18  ...        1:22.706         190.694         1
7740      7741      10        15  ...        1:23.261         189.423         1
7741      7742      10         6  ...        1:23.180         189.608         1
7742      7743      10        22  ...        1:23.024         189.964         1

[10 rows x 18 columns]

In [42]:
### select * from results where raceId=10 order by time asc limit 10

resultsdf[resultsdf.raceId==10].sort_values(by=['time'],ascending=True).head(10)

      resultId  raceId  driverId  ...  fastestLapTime fastestLapSpeed  statusId
7734      7735      10         8  ...        1:22.434         191.323         1
7735      7736      10        17  ...        1:21.931         192.498         1
7740      7741      10        15  ...        1:23.261         189.423         1
7741      7742      10         6  ...        1:23.180         189.608         1
7742      7743      10        22  ...        1:23.024         189.964         1
7743      7744      10         2  ...        1:23.282         189.375         1
7744      7745      10        12  ...        1:23.418         189.067         1
7745      7746      10         9  ...        1:23.224         189.507         1
7736      7737      10         3  ...        1:22.468         191.245         1
7737      7738      10         5  ...        1:22.958         190.115         1

[10 rows x 18 columns]